*{
  box-sizing: border-box;
}
.modal_inner{
  margin: 0 auto;
}

.form{
  padding: 30px;
  text-align: center;
}
.form input{
  background: none;
  color: black;
  font-size: 20px;
  display:  block;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 350px;
  border: 2px solid black;
  outline: none;
}
.form button{
  background: none;
  font-size: 20px;
  border: 0px solid black;
  padding: 10px;
  background-color: rgb(21, 141, 189);
  color: white;
  border-radius: 4px;
  width: 220px;
}
.error{
  color: red;

}
