*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    width: 1060px;
    justify-content: center;
    text-align: center;
}
.lot{
    margin: 15px;
    padding: 2px;
    height: 100px;
}
.block{
    position: relative;
}
.android{
    padding: 20px;
    width: 400px;
    height: 350px;
    justify-content: center;
    position: absolute;
    left: -137px;
    top: 12px;
    transform: rotate(-90deg);
}
.point{
    padding: 20px;
}

.text h2{
    font-size: 20px;
}
.text{
    margin-bottom: 1px;
    text-align: center;
}
.userFile{
    color: green;
    text-align: center;
    font-size: 20px;
    line-height: 42px;
}
p{
    padding: 2px;
    color: blue;
}