*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  background:#0C73FE;
}
.container{
  width: 1060px;
  height: 509px;
}
.headerinfo{
  width: 1160px;
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  margin-left: 95px;
}
.info{
  display: flex;
  align-items: center;
}
.info h3{
  color: #fff;
  font-size: 24px;
}
.messages {
  display:flex;
  align-items: center;
}
.messages p {
  color: #fff;
  font-size: 20px;
}
.heplinfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  position: absolute;
  width: 743px;
  height: 152px;
  left: 100px;
  top: 179px;
}
.heplinfo h1{
  color: #fff;
  font-size: 64px;
  line-height: 75px;
}
.heplinfo p {
  color: #fff;
  width: 716px;
  height: 52px;
  font-size: 22px;
  line-height: 26px;
}