.modal_inner {
    display: flex;


    /* position: relative; */
}

.cross_block {
    position: absolute;
    top: 7px;
    right: 1px;
}
.block_reviwes {
    width: 630px;
    background: #eff1f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block_booking {
    position: fixed;
    top: 0;
    right: 0;
}
.slider {
    width: 630px;
    height: 413px;

    /* pointer-events: none; */
}

.slider_block {
    display: flex;
}

.product_image {
    width: 630px;
    height: 413px;
}

.text {
    margin-left: 42px;
    margin-right: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
    margin-bottom: 9px;
}

.reviwes {
    width: 630px;
    height: 30px;
    background: linear-gradient(
        270deg,
        rgba(158, 169, 183, 0) 0%,
        #0c73fe 14.95%,
        #0c73fe 83.65%,
        rgba(158, 169, 183, 0) 100%
    );
    display: flex;
    justify-content: space-around;
    margin-bottom: 22px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 5px;
}

.people_reviwes {
    width: 430px;
    height: 150px;
    background-color: #ffffff;
}

.header_review {
    display: flex;
    justify-content: space-between;
}

.unwanted_line {
    height: 3px;
    width: 430px;
    background-color: #e6e6e6;
}

.name {
    width: 96px;
    height: 17px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.date {
    width: 78px;
    height: 13px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #606060;
    margin-top: 5px;
    margin-bottom: 3px;
}

.stars {
    margin-right: 16px;
}

.info {
    margin-left: 21px;
}

.review_text {
    margin-left: 21px;
    margin-right: 39px;
    margin-top: 14px;
    margin-bottom: 22px;
    width: 370px;
    height: 68px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.block_booking {
    /* position: fixed; */
    width:350px
}
.heart_header {
    display: flex;
    position: absolute;
    left: 10.75%;
    right: 84.75%;
    top: -2%;
    bottom: 18.75%;

}

.heart {
    background: rgba(239, 241, 244, 0.7)
        url('../../images/cardModalImg/Heart.svg') no-repeat center;
    width: 32px;
    height: 32px;
    margin-top: 18px;
    margin-left: 15px;
    border-radius: 50%;
}
.heart_focus {
    background: rgba(239, 241, 244, 0.7)
        url('../../images/cardModalImg/Heart.svg') no-repeat center;
    width: 32px;
    height: 32px;
    margin-top: 18px;
    margin-left: 15px;
    border-radius: 50%;
}

.heart_text {
    width: 250px;
    height: 34px;
    font-weight: 400;
    font-size: 32px;
    line-height: 21px;
    margin-top: 18px;
    margin-right: 30px;
}

.region {
    display: flex;
}

.region_image {
    margin-left: 20px;
    margin-right: 4px;
}

.region_text {
    width: 56px;
    height: 10.96px;
    color: #7e7e7e;
}

.location_and_level {
    display: flex;
    justify-content: space-between;
}

.level {
    display: flex;
}

/* .group_image {

} */

.level_text {
    margin-right: 48px;
    margin-left: 13px;
    width: 56px;
    height: 10.96px;
    color: #7e7e7e;
}

.user_choice {
    display: flex;
    justify-content: space-between;
}

.region_name {
    width: 130px;
    height: 27px;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    margin-top: 12px;
    margin-left: 20px;
}

.level_name {
    width: 155px;
    height: 19px;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
    /* margin-right: 25px; */
    margin-top: 12px;
    margin-left: 30px;
}

.line_two {
    width: 360px;
    border: 1px solid #d9d9d9;
}

.duration_and_price {
    display: flex;
    justify-content: space-between;
}

.duration {
    display: flex;
    margin-top: 17px;
}
.duration_image {
    margin-left: 20px;
    margin-right: 4px;
}

.duration_text {
    width: 56px;
    height: 10.96px;
    color: #7e7e7e;
}

.price {
    display: flex;
    margin-top: 17px;
}

.price_text {
    margin-right: 48px;
    margin-left: 13px;
    width: 56px;
    height: 10.96px;
    color: #7e7e7e;
}

.user_choice_two {
    display: flex;
    justify-content: space-between;
}

.days {
    display: flex;
    width: 137px;
    height: 22px;
    margin-top: 20px;
    margin-bottom: 7px;
}

.days_number {
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
    margin-right: 10px;
    margin-left: 20px;
}

.choice_price {
    display: flex;
    margin-top: 22px;
}

.price_number {
    font-weight: 400;
    font-size: 32px;
    line-height: 21px;
    color: #ff6f32;
    margin-right: 6px;
}

.price_som {
}

.rating {
    display: flex;
    margin-top: 16px;
}

.rating_and_guide {
}
.rating_image {
    margin-left: 20px;
    margin-right: 2px;
}

.rating_text {
    width: 66px;
    height: 11px;
    color: #7e7e7e;
}

.stars_image {
    margin-left: 20px;
    margin-top: 11px;
    margin-bottom: 33px;
}

.walker_and_google {
    display: flex;
}

.walker_image {
    margin-left: 41px;
    margin-bottom: 15px;
}

.walker_text {
    margin-left: 26px;
    font-weight: 800;
    font-size: 20px;
    line-height: 13px;
    color: #484848;
}

.walker_text_two {
    margin-left: 51px;
    margin-top: 4px;
    color: #484848;
}

.google_text_and_image {
    display: flex;
}

.google_text_main {
    display: flex;
    flex-direction: column;
}

.google_text {
    margin-top: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 13px;
    color: #403f41;
}

.google_text_two {
    margin-top: 3px;
    margin-left: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 13px;
    color: #8f8f8f;
}

.guide_text_and_image {
    display: flex;
    margin-bottom: 8px;
}

.guide_text {
    margin-left: 13px;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    color: #7e7e7e;
}

.display {
    display: flex; 
}
.guide {
    display: flex;
    flex-direction: column;
    margin-top: -83px;
}

.vasya_image {
    margin-bottom: 3px;
    width: 130px;
height: 130px;
border: 1px solid #CBCBCB;
border-radius: 30px;
}

.vasya_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #444444;
}

.title_reviews {
    width: 500px;
    height: 51px;
    background-color: #ebf3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_text {
    color: #323232;
}

.cross {
    position: absolute;
    top: 14px;
    right: 13px;
}

.user_reviews {
    width: 500px;
    height: 200px;
}

.post_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #737e8b;
    margin-top: 9px;
    margin-left: 8px;
    border: none;
    outline: none;
}

.text_and_stars {
    background-color: #ebf3ff;
    width: 365px;
    height: 50px;
    display: flex;
}

.rating_and_btn {
    display: flex;
}
.text_rating {
    width: 115px;
    height: 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #434343;
    margin-top: 15px;
    margin-left: 11px;
}

.stars {
    width: 135px;
    height: 50px;
}
.btn {
    width: 135px;
    height: 50px;
    background: #0c73fe;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ebf3ff;
}


/* data */
.data{
    margin-top:7px;
    border-top:1px solid #EEEEEE;
    padding-top:11px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.data_title{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 17px;
color: #ABABAB;
margin-bottom:15px;
}