.home{
    background-color: #0C73FE;
   
}
.container{
    width: 1440px;
    height: 650px;
    margin: 0 auto;
}
.home_content_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}
.two_text_home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first_text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.01em;
    color: #FFFFFF;

}
.second_text{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 0px;
    color: #FFFFFF;
    margin-top: 20px;
}
.search_form{
    margin-top: 51px;
    width: 968px;
    height:100px;
    background: rgba(208, 208, 208, 0.13);
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.form_inputs{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent_input_where{
    position: relative;
}
.parent_input_where:focus{
    background-color: #FF6F32;
    border: 4px #FF6F32;
}
.parent_input_duration{
    position: relative;
}
.parent_input_price{
    position: relative;
}
.parent_input_date{
    position: relative;
}
.coordiante_image{
    position: absolute;
    top: 0;
    left: -23px ;
}
.inputs_from_where{
    width: 220px;
    height: 60px;
    margin-right: 3px;
    border: 0px;
    padding-left: 20px;
}
.inputs_from_where:focus{
   outline-color: #FF6F32 ;
}
.label_input_where{
    position: absolute;
    top: -23%;
    background: #FF6F32;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    width: 220px;
    height: 14.19px;
    text-align: center;
}
.search_image{
    position: absolute;
    top: 20px;
    right: 15px;
    transition: 700ms;
}
.search_image:hover{
    transform: rotate(45deg);
}
.inputs_from_price{
    width: 130px;
    height: 60px;
    background: #FFFFFF;
    margin-right: 3px;
    border: 0px;
    padding-left: 20px;
}
.label_input_price{
    top: -30%;
    background: #FF6F32;
    position: absolute;
    width: 130px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
    }
.inputs_from_duration{
    width: 145px;
    height: 60px;
    background: #FFFFFF;
    margin-right: 3px;
    border: 0px;
    padding-left: 20px;
}
.label_input_duration{
    position: absolute;
    width: 145.69px;
    height: 14.19px;
    top: -23%;
    background: #FF6F32;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
}
.inputs_from_date{
    min-width: 224px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 0px 14px 14px 0px;
    border: 0px;
    margin-right: 20px;
    padding-left: 20px;
}
.label_input_date{
    width: 224px;
    height: 14px;
    position: absolute;
    top: -23%;
    background: #FF6F32;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    border-top-right-radius: 25px;
}

.form_btn{
    width: 155px;
    height: 60px;
    background: #FF6F32;
    border-radius: 12px;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 0px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}