.home {
    background-color: #0c73fe;
}
@media  screen and (max-width:1080px){
  .home{
    min-width: 1200px;
  }
}
.container {
    width: 1060px;
    height: 650px;
    margin: 0 auto;
}
.home_content_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}
.two_text_home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 @media screen and (max-width: 1080px) {
.two_text_home .first_text {
    font-size: 30px;
  }
 }
 @media screen and (max-width: 700px) {
  .two_text_home .first_text {
      font-size: 20px;
    }
   }
.first_text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.01em;
    color: #ffffff;
    white-space: nowrap;
}
.second_text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 0px;
    color: #ffffff;
    margin-top: 20px;
}
@media screen and (max-width: 1080px) {
  .two_text_home .second_text {
      font-size: 30px;
    }
   }
   @media screen and (max-width: 700px) {
    .two_text_home .second_text {
        font-size: 20px;
      }
     }
.search_form {
    margin-top: 51px;
    width: 968px;
    height: 100px;
    background: rgba(208, 208, 208, 0.13);
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
@media screen and (max-width: 1080px) {
  .search_form {
      width:800px;
      height: 200px;
    }
   }
   @media screen and (max-width: 700px) {
    .search_form  {
        width:650px;
        height: 185px;
      }
     }
.form_inputs {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1080px) {
  .form_inputs {
      display: flex;
      flex-wrap: wrap;
      padding-left: 25px;
    }
   }
@media screen and (max-width: 700px) {
  .form_inputs  {
    display: flex;
    flex-wrap: wrap;
    }
   }
.parent_input_where {
    position: relative;
}
.parent_input_duration {
    position: relative;
}
.parent_input_price {
    position: relative;
}
.parent_input_date {
    position: relative;
}
.coordiante_image {
    position: absolute;
    top: 0;
    left: -23px;
}
.inputs_from_where {
    width: 220px;
    height: 60px;
    margin-right: 3px;
    padding-left: 30px;
    border: 0px;
    border-radius: 0px 0px 0px 1px;
    background: #ffffff;
}
@media screen and (max-width: 700px) {
  .inputs_from_where {
        width: 150px;
        height: 60px;
    }
   }

/* .inputs_from_where {
    outline-color: #ff6f32 !important;
    border: 1px solid #ff6f32 !important;
} */
.label_input_where {
    position: absolute;
    top: -33%;
    background: #ff6f32;
    border: 3px solid #ff6f32;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    width: 220px;
    height: 20px;
    text-align: center;
}
.search_image {
    position: absolute;
    top: 20px;
    right: 15px;
    animation: rotate 4s cubic-bezier(0.8, 0, 1, 1) infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(50deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(50deg);
    }
}
.inputs_from_price {
    width: 130px;
    height: 60px;
    background: #ffffff;
    margin-right: 3px;
    border: 0px;
    padding-left: 10px;
}
.label_input_price {
    top: -33%;
    background: #ff6f32;
    position: absolute;
    width: 130px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}
.inputs_from_duration {
    width: 145px;
    height: 60px;
    background: #ffffff;
    margin-right: 3px;
    border: 0px;
    padding-left: 10px;
}
.label_input_duration {
    position: absolute;
    width: 144.69px;
    height: 30px;
    top: -33%;
    background: #ff6f32;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
}
.inputs_from_date {
    min-width: 220px;
    height: 60px;
    background: #ffffff;
    border-radius: 0px 14px 14px 0px;
    border: 0px;
    margin-right: 20px;
    padding-left: 20px;
}
@media screen and (max-width: 700px) {
  .inputs_from_date {
        width: 150px;
        height: 60px;
    }
   }

.inputs_from_date:focus{
    border: 3px solid #ff6f32 ;
}
.label_input_date {
    width: 224px;
    height: 20px;
    position: absolute;
    top: -33%;
    background: #ff6f32;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    border-top-right-radius: 25px;
}

.form_btn {
    width: 155px;
    height: 60px;
    background: #ff6f32;
    border-radius: 12px;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 0px;
    letter-spacing: 0.01em;
    color: #ffffff;
}
@media screen and (max-width:1080px) {
  .form_inputs .form_btn{
    margin-top: 30px;
  }
}
@media screen and (max-width:1080px) {
  .form_inputs .form_btn{
    margin-top: 25px;
  }
}
