.tour{
    padding-top: 50px;
    background-color: #e9f3ff;
}
.container{
    width: 1060px;
    margin: 0 auto;
}
.tour_inner{
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tour_text{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 21px;
    color: #343434;
}
.all_tours{
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
}
.btn_tour{
    margin-top: 20px;
    width: 232px;
    height: 50px;
    background: #C4C4C4;
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    margin-bottom: 50px;
    transition: 1s;
}
.btn_tour:hover{
    background-color: #ff6f32;
}

