*{
  box-sizing: border-box;
}
.delete{
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}
.cross_parent{
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 1px;
}
.cross_parent:hover{
  background: #EFF1F4;
  border-radius: 8px;
}

.croos_ulul{
  width: 16px;
  height: 16px;
  margin-right: 3px;
  top: 13px;
  right: 1px;
  transition: 500ms;
}
.croos_ulul:hover{
  transform: rotate(-90deg);
}
.button button{
  margin-top: 30px;
  background: none;
  font-size: 20px;
  border: 0px solid black;
  padding: 10px;
  background-color: rgb(21, 141, 189);
  color: white;
  border-radius: 4px;
  width: 180px;
}
.buton{
  margin-right: 20px;
}