
.slider{
    position: relative;
    width: 100%;
    height: 100%;
}

@media  screen and (max-width:1080px){
  .slider{
   min-width: 1200px;
  }
}
.container{
    width: 1060px;
    margin: 0 auto;
}

.slider_inner{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.tours_text{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 21px;
    color: #343434;
    margin-bottom: 30px;
}
.buttons_arrow{
    display: flex;
    justify-content: end;
}
.right_btn{
    width: 40px;
    height: 42.15px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    margin-left: 50px;
    margin-top: -550px;
}
.left_btn{
    width: 40px;
    height: 42.15px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    margin-right: 45px;
    margin-bottom:13px;
}
/* .cards_slider{
   margin-top: 28px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
    margin-bottom: 58px;
} */