.cards{
    margin-top: 130px;
    margin-bottom: 100px;
}
.cards_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1080px) {
    .cards{
        width:800px;
        margin: 0 auto;
        padding-top: 50px;
    }
}
@media screen and (max-width:700px) {
    .cards{
        width: 700px;
    }
}
.small_card{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin-right: 20px;
    position: relative; /*Zhamal 20.03.23*/
    transition: 0.5s;
}
@media screen and (max-width:1080px) {
    .small_card{
        width:250px;
        height:200px;
    }
}

.big_card{
    width: 420px;
    height: 420px;
    border-radius: 26px;
    margin-right: 20px;
    position: relative; /*Zhamal 20.03.23*/
}
@media screen and (max-width:1080px) {
    .big_card{
        width:400px;
        height:300px;
    }
}


/*Zhamal 20.03.23*/
.small_card_label{
    position: absolute;
    top: 21px;
    left: 21px;
    right: 21px;

}
.small_card_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 11px;
    /*white-space: nowrap;*/
}
.small_card_desc{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width:1080px) {
    .small_card_title{
        font-size: 27px;
        line-height: 13px;

    }
    .small_card_desc{
        font-size: 19px;
        line-height: 20px;
    }
}


.big_card_label{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;

}
.big_card_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 11px;
    /*white-space: nowrap;*/
}
.big_card_desc{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
