* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li {
    list-style: none;
}

html,body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}
.touch__me{
    
}
.touch__me:hover::before{
    content: '';
    display: block;
    position: absolute;
    top: 20%;
    right: 90%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    margin-right: 10px;
}
.photo{
    border-radius: 24px 23px 12px 12px;
    overflow: hidden; 
}
.photo:hover .heard,
.photo:focus .heard {
  opacity: 1;
}
.heard{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 15px;
    right: 15px;
    position: absolute ;
    border-radius: 10px;
    background-color: #ffff; 
    border-radius: 30px;
}
.heard_focus {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    top: 15px;
    right: 15px;
    position: absolute ;
    border-radius: 10px;
    background-color: #ffff; 
    border-radius: 30px;
    background-image: url('');
}

::-webkit-scrollbar {
    width: 8px; /* ширина скроллбара */
  }
  
  /* Стилизуем полосу прокрутки */
  ::-webkit-scrollbar-thumb {
    background-color: #9EA9B7;
    border-radius: 5px;
  }


