@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    cursor: none;
}
body {
    background: black;
}
a {
    text-decoration: none;
}
a:hover .custom-circle {
    transform: scale(1.5);
}
li {
    list-style: none;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}

.photo {
    border-radius: 24px 23px 12px 12px;
    overflow: hidden;
}
.photo:hover .heard,
.photo:focus .heard {
    opacity: 1;
}
.heard {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 15px;
    right: 15px;
    position: absolute;
    border-radius: 10px;
    background-color: #ffff;
    border-radius: 30px;
}
.heard_focus {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    top: 15px;
    right: 15px;
    position: absolute;
    border-radius: 10px;
    background-color: #ffff;
    border-radius: 30px;
    background-image: url('');
}

::-webkit-scrollbar {
    width: 8px; /* ширина скроллбара */
}

/* Стилизуем полосу прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #9ea9b7;
}

/* Стилизуем полосу прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #9ea9b7;
    border-radius: 5px;
}
.active:hover {
    border: solid blue;
    border-width: 0 0 0 3px;
    color: black;
    font-size: 22px;
    font-weight: 600;
    line-height: 19px;
    margin-left: 0;
}

