.header{
    font-family: sans-serif;
    background-color: #0C73FE;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(7.5px);
}
.container{
    width: 1440px;
    height: 50px;
    margin: 0 auto;
    
}
.header_inner{
    margin-left: 150px;
    z-index: 1;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
}
.header_antools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px 6px 70px;
}
.header_profil{
    padding-right: 280px;
}
.ulul_image{
    width: 40;
    height: 27px;
}
.ulul{
    margin-left: 18px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    color: #FFFFFF;
}
.two_btns{
    display: flex;
    justify-content: space-between;
}
.sign_in_btn{
    width: 83px;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 20px;
    gap: 10px;
    background-color: #0C73FE;
    border: 2px solid #FF6F32;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 11px;
}
.sign_in_btn:hover{
    background-color: #FF6F32;
}
.sign_up_btn{
    border: 3px solid #FF6F32;
    margin: 9px 190px 11px 50px;
    padding: 15px 20px;
    gap: 10px;
    width: 186px;
    height: 30px;
    background-color: #0C73FE;
    border-radius: 20px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;
    color: #FFFFFF;
    order: 0;
    flex-grow: 0;
}
.sign_up_btn:hover{
    background-color: #FF6F32;
}